{% extends 'base-marketplace.html' %}
{% load static %}


{% block content %}

<!-- Start Hero Section -->
		<div class="hero">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5">
						<div class="intro-excerpt">
							<h1>About Us</h1>
							<p class="mb-4">{{ about.description|safe }}</p>
							<p><a href="{% url 'marketplace:products_list' %}" class="btn btn-secondary me-2">Explore</a><a href="{% url 'marketplace:marketplace_home' %" class="btn btn-white-outline">home</a></p>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="hero-img-wrap">
							<img src="{% static 'images/about-img2.jpg' %}" class="about-img-top img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Hero Section -->
		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col-lg-6">
						<h2 class="section-title">Why Choose Us</h2>
						<p>This platform offers convenience, allowing you to browse a wide variety of products from multiple sellers in one place. </p>


						<div class="row my-5">

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/bag.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>Easy to Shop</h3>
									<p>Readily access sellers</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/support.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>24/7 Support</h3>
									<p>Timely response to your needs.</p>
								</div>
							</div>

							
						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="{% static 'images/why-choose-us.jpg' %}" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start Team Section -->
		<div class="untree_co-section">
			<div class="container">

				<div class="row mb-5">
					<div class="col-lg-5 mx-auto text-center">
						<h2 class="section-title">Our Team</h2>
					</div>
				</div>

				<div class="row">
					{% for member in about.team.all %}
					<!-- team member -->
					<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0 team-member">
						{% if member.profile_image %}
							<img src="{{ member.profile_image.url }}" class="team-profile-img mb-5">
						{% endif %}
						<h3 clas><a href="#"><span class="">{{ member.name }}</a></h3>
            			<span class="d-block position mb-4">{{ member.position }}</span>
					</div> 
					<!-- End team member -->
					{% endfor %}

				</div>
			</div>
		</div>
		<!-- End Team Section -->

		<!-- Start Testimonial Slider -->
		<div class="testimonial-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mx-auto text-center">
						<h2 class="section-title">Testimonials</h2>
					</div>
				</div>
				<!-- Review Section -->
			    <section id="review">
			        <div class="row mt-4">
			            <!--title-->
			            <div class="col-sm-4 text-center mt-3 mb-5" style="font-family: Roboto Slab, serif">
			                <h1 class="fs-1 ps-4">What people say...</h1>
			                <!--<p class="fw-medium mx-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>-->
			            </div>
			            <!--Reviews -->
			            <div class="col-sm-8">
			            	{% for testimonial in about.testimonials.all %}
			                <div class="card border-0 m-auto mb-4 bg-transparent  " style="max-width: 75%;">
			                    <div class="card-body">
			                        <figure class="text-center">
			                            <blockquote class="font-monospace">
			                                <p>" {{ testimonial.testimonial|safe }} "</p>
			                            </blockquote>
			                            <figcaption class="blockquote-footer" style="color: #efb730;">
			                                {{ testimonial.name }} <cite title="Source Title">{{ testimonial.organization }}</cite>
			                            </figcaption>
			                        </figure>
			                    </div>
			                    <!--
			            	}
			            <img src="./assets/images/aatik-tasneem-7omHUGhhmZ0-unsplash.jpg" class="profile-img" alt="...">
			            -->
			                </div>
			                {% endfor %}
			            </div>
			        </div>
			    </section>
			</div>
		</div>
		<!-- End Testimonial Slider -->


{% endblock %}