{% extends 'base.html' %}
{% load static %}

{% block title %}home |{% endblock %}



{% block content %}
    {% include 'includes/header.html' %}

    <!-- Categories section -->
    <div class="container-fluid mt-4 mb-3">
        <!-- Categories -->
        <button id="categories-btn" class="" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">categories</button>

        <div style="background-color: #003b5c; color: white; border-radius: 0 25px 25px 0;"
            class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title ms-3" id="offcanvasWithBothOptionsLabel">All categories</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="card bg-transparent border-0" style="width: 100%;">
                    <ul class="list-group list-group-flush bg-transparent">
                        {% for category in categories %}
                        <li class="list-group-item bg-transparent border-0">
                            <a href="{% url 'category' category.slug %}" class="text-decoration-none  text-white">
                                <span>
                                    <i class="{{ category.icon_style }} fs-2"></i>
                                    <small class="ms-3 text-capitalize">{{ category.title }} ({{ category.events.all.count }} event{{ category.events.all.count|pluralize }})</small>
                                </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


<!-- Featured events -->
<section id="featured-section" class="">
    <!-- Heading -->
     <!--
    <div class="mb-4 text-center">
        <h3>Featured event</h3>
    </div>
    -->
    <div class="container-fluid mt-5">
        {% for event in featured_events %}
        <div class="card mb-3 border-0" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-7">
                    {% if event.image %}
                    <a href="{% url 'event_details' event.category.slug event.slug %}"><img src="{{ event.image.url }}"
                            class="img-fluid featured-event-img" alt="event image" style="border-radius: 25px;"></a>
                    {% endif %}
                </div>
                <div class="col-md-5 ps-3 d-flex align-items-center">
                    <div class="card-body">
                        <center>
                            <!-- Event date -->
                            <small class="card-text">{{event.starting_date|date:'D' }}, {{event.starting_date}}
                                {{event.remaining_days}}</small>
                            <!-- Event title -->
                            <a href="event.html" class="text-decoration-none" style="color: #003b5c;">
                                <p class="card-title fw-bold">{{ event.title }}</p>
                            </a>
                        </center>
                        <div class="row mt-3">
                            <div class="col">
                                <!-- venue -->
                                <small class="card-text">
                                    <strong>Venue:</strong>
                                    <a href="{% url 'venue_detail' event.venue.slug %}" class="text-decoration-none"
                                        style="color: #d86018;">{{ event.venue }}</a>
                                </small>
                                <br>
                                <small><strong>Location: </strong>{{ event.location }}</small><br>
                                <small>
                                    <strong>County:
                                        <a href="{% url 'county' event.county_local.slug %}"
                                            class="text-decoration-none fw-bold" style="color: #d86018;">{{ event.county_local }}</a>
                                    </strong>
                                </small>
                                <br>
                                <!-- Category -->
                                <a href="category.html" class="text-decoration-none fw-bold"
                                    style="color: #d86018;">
                                    <small>{{ event.category }}</small>
                                </a><br>
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                                <!-- Church or group -->
                                <div class="text-center">
                                    <a href="{% url 'group_events' event.church_or_group.slug %}" class="text-decoration-none" style="color: #003b5c;">
                                        <img class="logo-img" src="{{ event.church_or_group.logo.url }}"
                                            alt="group logo"><br>
                                        <span><small class="ms-2 fw-bold">{{ event.church_or_group }}</small></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="mb-4 text-center">
            <p>No featured events at the moment.</p>
        </div>
        {% endfor %}
    </div>
</section>


<div class="my-5">
    <center>
        <a href="{% url 'events' %}" class="events-link">all events</a>
    </center>
</div>

<!-- this month's events section -->
<section id="all-events-section" class="container my-3" style="font-family: Roboto Slab, serif">
    <!-- Heading -->
    <div class="mb-5 text-center" data-aos="fade-right">
        <h3>This month's events</h3>
    </div>
    <div data-aos="fade-up" data-aos-duration="2000" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for event in events_by_month %}
        <div class="col">
            <div class="card border-0">
                {% if event.image %}
                <a href="{% url 'event_details' event.category.slug event.slug %}">
                    <img src="{{ event.image.url }}" class="card-img-top img-fit event-img" alt="event photo">
                </a>
                {% endif %}
                <div class="card-body">
                    <small class="card-text"></small>
                    <center>
                        <a href="{% url 'event_details' event.category.slug event.slug %}"
                            class="text-decoration-none" style="color: #003b5c;">
                            <p class="card-title fw-bold">{{ event.title }}</p>
                        </a>
                        <small class="card-text">{{ event.starting_date|date:'D' }}, {{ event.starting_date }}
                            {{event.remaining_days}}</small>
                    </center>
                    <div class="row mt-3">
                        <div class="col">
                            <small class="card-text">
                                <strong>Venue:</strong>
                                <a href="{% url 'venue_detail' event.venue.slug %}" class="text-decoration-none"
                                    style="color: #d86018;">{{ event.venue.name }}</a>
                            </small>
                            <br>
                            <small><strong>Location:</strong> {{ event.location }}</small>
                            <br>
                            <small>
                                <strong>County:
                                    <a href="{% url 'county' event.county_local.slug %}"
                                        class="text-decoration-none fw-bold" style="color: #d86018;">{{ event.county_local }}</a>
                                </strong>
                            </small>
                            <br>
                            <a href="{% url 'category' event.category.slug %}" class="text-decoration-none fw-bold"
                                style="color: #d86018;">
                                <small>{{ event.category }}</small>
                            </a><br>
                        </div>
                        <div class="col d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <a href="{% url 'group_events' event.church_or_group.slug %}"
                                    class="text-decoration-none" style="color: #003b5c;">
                                    <img class="logo-img" src="{{ event.church_or_group.logo.url }}" alt=""><br>
                                    <span><small class="ms-2 fw-bold">{{ event.church_or_group }}</small></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="mb-4 text-center">
            <p>No events for this month at the moment.</p>
        </div>
        {% endfor %}
    </div>
    {% if events_by_month|length > 0 %}
    <div class="my-5">
        <center>
            <a href="{% url 'month_events' %}" class="btn btn-outline-warning border-2 fw-bold">view all</a>
        </center>
    </div>
    {% endif %}

    
</section>

<!-- Brand section -->
<section id="brand-section">
    <div class="container">
        <div class="row">
            <!-- logo -->
            <div class="col d-flex justify-content-end align-items-center">
                <div class="">
                    <img src="{% static 'images/logo/logo3_31_153930.png' %}" class="" alt="logo">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Latest News section -->
<section id="news-section" style="font-family: Roboto Slab, serif">
    <div class="container-fluid">
        <div class="text-center py-5" data-aos="fade-left">
            <h3 style="font-family: Roboto Slab, serif">Latest news</h3>
        </div>

        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3"  data-aos="fade-up" data-aos-duration="2000">
            {% for news in news %}
            {% if news %}
                {% if news.featured %}
                <!-- Featured news -->
                <div class="col">
                    <a href="{% url 'news_article' news.slug %}">
                        <div class="card featured-card text-bg-dark">
                            <img src="{{ news.image.url }}" class="card-img"
                                style="filter: brightness(80%);" alt="news article image">
                            <div class="card-img-overlay d-flex align-items-center">
                                <div>
                                    <h4 class="card-title fw-bold mb-4">{{ news.title }}</h4>
                                    <p class="card-text fw-bold"><small>Last updated {{ news.created_at }}</small></p>
                                    <div>
                                        <small>Author: {{ news.author }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% else %}
                <!-- Other news -->
                <div class="col">
                    <div class="card border-0 bg-transparent" style="border-radius: 25px;">
                        <a href="{% url 'news_article' news.slug %}" class="">
                            {% if news.image %}
                            <img src="{{ news.image.url }}" class="news-img card-img-top"
                            alt="news article image">
                            {% endif %}
                        </a>
                        
                        <div class="card-body">
                            <a href="{% url 'news_article' news.slug %}" class="text-decoration-none text-black"><p class="card-title fw-bold fs-4">{{ news.title }}</p></a>
                            
                            <div>
                                <small>By <strong>{{ news.author }}</strong> on <strong>{{ news.created_at }}</strong></small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            {% empty %}
            <div class="mb-4 text-center">
                <p>No news at the moment.</p>
            </div>
            {% endfor %}
            
        </div>
        <div class="py-5 text-center">
            <a href="{% url 'all_news' %}" class="all-news-link">All news articles
            </a>
        </div>
    </div>
</section>

<!-- Back to top -->
<div class="pb-4 text-center" style="font-family: Roboto Slab, serif">
    <a href="#" class=" text-decoration-none" style="color: #003b5c;">
        <svg xmlns="http://www.w3.org/2000/svg" height="30" fill="currentColor" class="bi bi-arrow-up-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
          </svg><spa class="ms-3 text-decoration-none">Top</span>
    </a>
</div>
{% include 'includes/footer.html' %}
{% endblock %}