{% extends "base.html" %}
{% block meta %}

<meta name="description" content="{{ category.title }} | commineon event category">
<meta name="author" content="commineon">
<meta property="og:title" content="{{ category.title }} | commineon">
<meta property="og:description" content="{{ category.title }} | commineon event category">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ request.build_absolute_uri }}">

{% endblock %}
{% block title %}{{ category.title }}{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}
<!-- All category events section -->
<section id="all-events-section" class="container-fluid mt-3 mb-4">
    <div class="my-5">
        <h3>Category: {{ category.title }}</h3>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for event in category.events.all %}
        {% if event.post_event %}
        <div class="col">
            <div class="card border-0">
                {% if event.image %}
                <a href="{% url 'event_details' event.category.slug event.slug %}">
                    <img src="{{ event.image.url}}"
                        class="card-img-top event-img" alt="...">
                </a>
                {% endif %}
                <div class="card-body">
                    <center>
                        <a href="{% url 'event_details' event.category.slug event.slug %}" style="text-decoration: none; color: black;">
                            <p class="card-title fw-bold">{{ event.title }}</p>
                        </a>
                        <small class="card-text">{{ event.starting_date|date:'D' }}, {{ event.starting_date }} {{ event.remaining_days }}</small>
                        
                    </center>
                    <div class="row mt-3">
                        <div class="col">
                            <small class="card-text">
                                <strong>Venue:</strong>
                                <a href="{% url 'venue_detail' event.venue.slug %}" class="text-decoration-none" style="color: #d86018;">{{ event.venue.name }}</a>
                            </small>
                            <br>
                            <small><strong>Location: </strong>{{ event.location }}</small>
                            <br>
                            <small>
                                <strong>County: 
                                    <a href="{% url 'county' event.county_local.slug %}" class="text-decoration-none fw-bold"
                                style="color: #d86018;">{{ event.county_local }}</a>
                                </strong>
                            </small>
                            <br>
                           
                        </div>
                        <div class="col d-flex justify-content-center align-items-center">
                            <a href="{% url 'group_events' event.church_or_group.slug %}" style="text-decoration: none; color: black;">
                                <div class="text-center">
                                    <img class="logo-img" src="{{ event.church_or_group.logo.url }}" alt=""><br>
                                    <span><small class="ms-2 fw-bold">{{ event.church_or_group }}</small></span>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <div class="mb-4 text-center">
            <p>No events in this category at the moment.</p>
        </div>
        {% endfor %}
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock content %}
