{% extends "base.html" %}

{% block title %}login | {% endblock title %}

{% block content %}

    <section id="login-section">
        <div class="container d-block align-content-center">
            <div class="login">
                <form action="{% url 'new_password' %}" method="POST">
                    {% csrf_token %}
                    <h2>New password</h2>
                    {% include 'includes/alert.html' %}
                    <label for="new_password">New password</label>
                    <input type="password" name="new_password" placeholder="Enter new password" required>
                    <label for="confirm_password">Confirm password</label>
                    <input type="password" name="confirm_password" placeholder="Confirm new password" required>
                    <button type="submit">Create</button>
                </form>

            </div>
        </div>
    </section>

{% endblock content %}