{% extends "base.html" %}

{% block title %}login | {% endblock title %}

{% block content %}

    <section id="login-section">
        <div class="container d-block align-content-center">
            <div class="login">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <h2>Login</h2>
                    {% include 'includes/alert.html' %}
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter email" required>
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Enter password" required>
                    <button type="submit">Login</button>
                </form>
                <div class="pb-4 text-lg-center">
                    <a href="{% url 'forgot_password' %}"
                        class="text-decoration-none">Forgot password?</a>
                </div>
                <div class="pb-4 text-lg-center">
                    <span>Don't have an account?</span> <a href="{% url 'register' %}"
                        class="text-decoration-none ps-2">Signup</a>
                    <br>
                    <br>
                    <a href="{% url 'home' %}" class="text-decoration-none text-warning"><i class="bi bi-arrow-left-short"></i><strong>Home</strong></a>
                    
                </div>
                

            </div>
        </div>
    </section>

{% endblock content %}