{% extends "base.html" %}

{% block meta %}

<meta name="description" content="Welcome to hopemeet, your go-to source for the latest news, trends, and insights from Adventist community. Stay informed with real-time updates and compelling stories that matter. Whether it's breaking news, lifestyle, technology, or entertainment, we bring you the most important headlines – all in one place. Get ready to explore, stay connected, and keep up with the stories shaping Adventist community.">
<meta name="author" content="hopemeet">
<meta property="og:title" content="News | hopemeet events">
<meta property="og:description" content="Welcome to hopemeet, your go-to source for the latest news, trends, and insights from Adventist community. Stay informed with real-time updates and compelling stories that matter. Whether it's breaking news, lifestyle, technology, or entertainment, we bring you the most important headlines – all in one place. Get ready to explore, stay connected, and keep up with the stories shaping Adventist community.">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ request.build_absolute_uri }}">

{% endblock %}

{% block title %}news |{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}
<!-- News -->
<section id="all-news-articles" class="container my-5">
    <h3 class="text-center mt-4 mb-5">News</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for news in news_page_obj %}
        {% if news.featured %}
        <div class="col">
            <a href="{% url 'news_article' news.slug %}">
                <div class="card featured-card text-bg-dark">
                    <img src="{{ news.image.url }}" class="card-img featured-card-img"
                        style="filter: brightness(80%);" alt="...">
                    <div class="card-img-overlay d-flex align-items-center">
                        <div>
                            <h4 class="card-title fw-bold mb-4">{{ news.title }}</h4>
                            <p class="card-text fw-bold"><small>Last updated {{ news.created_at }}</small></p>
                            <div>
                                <small>Author: {{ news.author}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% else %}
        <div class="col">
            <div class="card border-0 bg-transparent" style="border-radius: 25px;">
                        <a href="{% url 'news_article' news.slug %}" class="">
                            {% if news.image %}
                            <img src="{{ news.image.url }}" class="news-img card-img-top"
                            alt="news article image">
                            {% endif %}
                        </a>
                        
                        <div class="card-body">
                            <a href="{% url 'news_article' news.slug %}" class="text-decoration-none text-black"><p class="card-title fw-bold fs-4">{{ news.title }}</p></a>
                            
                            <div>
                                <small>By <strong>{{ news.author }}</strong> on <strong>{{ news.created_at }}</strong></small>
                            </div>
                        </div>
                    </div>
        </div>
        {% endif %}
        {% empty %}
        <div class="mb-4 text-center">
            <p>No news at the moment.</p>
        </div>
        {% endfor %}
      </div>

      <!-- Pagivation -->
     <div class="container d-flex justify-content-center mt-5">
        <div class="my-3">
            <nav aria-label="...">
                <ul class="pagination">
                    {% if news_page_obj.has_previous %}
                    <li class="page-item me-2">
                            <a href="?page=1">&laquo; first</a>
                    </li>
                    <li class="page-item me-2">
                            <a href="?page={{ news_page_obj.previous_page_number }}">previous</a>
                    </li>
                    {% endif %}
                    <li class="page-item me-2">
                        <span>
                        Page {{ news_page_obj.number }} of {{ news_page_obj.paginator.num_pages }}
                        </span>
                    </li>
                    {% if news_page_obj.has_next %}
                    <li class="page-item me-2">
                        <a href="?page={{ news_page_obj.next_page_number }}">next</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ news_page_obj.paginator.num_pages }}">last &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</section>

<!-- back to top -->
<div class="pb-4 text-center">
    <a href="#" class=" text-decoration-none" style="color: #003b5c;">
        <svg xmlns="http://www.w3.org/2000/svg" height="30" fill="currentColor" class="bi bi-arrow-up-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
          </svg><spa class="ms-3 text-decoration-none">Top</span>
    </a>
</div>
{% include 'includes/footer.html' %}
{% endblock content %}